.screen-container {
    background-color: black;
    height: 100vh;
    background-image: url(../../../../assets/img/bg.jpg);
    background-repeat: repeat-y;
}
.container {
    padding-top: 4%;
}
.list-group-item {
    background-color: white;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.list-group-item:active {
    cursor: pointer;
    background-color: darkgray;
}
.loading {
    color: white;
}